*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
}

.score {
  font-size: 4rem;
  margin-right: 100rem;
}
.grid {
  position: absolute;
  margin-top: 2rem;
  width: 72.2rem;
  height: 50rem;
  border: 2px solid #999;
}
.block {
  position: absolute;
  width: 13rem;
  height: 3rem;
  background-color: rebeccapurple;
}

.user {
  position: absolute;
  width: 13rem;
  height: 3rem;
  background-color: royalblue;
}

.ball {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  background-color: #ff6347;
}
